<!--
Full name: Ariel Chau
Student Id: 301151530
Course Name: COMP 229 WEB Development
File name: PERSONAL-PORTAFOLIO2
WEB APP NAME:https://comp229-008-301151530portfolio.herokuapp.com/
Midterm lab Assignment
*/-->

<%- include ../partials/header.ejs%>    
  <link rel='stylesheet' href='/stylesheets/style.css'/>     
  <link rel='stylesheet' href='/stylesheets/styleindividual.css'/>     
  </head>
  <body>

<nav class="container">
  <ul>
    <img class="logo" src="images/Logo.png" alt="logo photo">
    <li><a href="index"><i class="fa-solid fa-house"></i>Home</a></li> 
    <!--<a href="about"><i class="fa-solid fa-address-card"></i>About</a></li>-->
    <li><a href="aboutme"><i class="fa-solid fa-id-badge"></i>About Me</a></li> 
    <li><a href="projectpage"><i class="fa-solid fa-diagram-project"></i>Projects</a></li>
    <li><a href="service"><i class="fa-solid fa-brands fa-servicestack"></i>Services</a></li> 
    <li><a href="individual-list" class="home"><i class="fa-solid fa-brands fa-servicestack"></i>Business List</a></li> 
    <li><a href="contact"><i class="fa-solid fa-message"></i>Contact</a></li>  
    <% if(typeof displayName == 'string' && displayName){ %>
      <li class="navbar-text"><i class="fas fa-lg fa-user"></i><span class="welcome-name">Welcome, <%= displayName %></span></li>
      <li class="nav-item"><a href="/logout" class="nav-link">
        <i class="fas fa-lg fa-sign-out-alt"></i>Logout</a></li>
    <% } else { %>
      <li class="new-item"><a href="/login" class="nav-link">
      <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li> 
    <% } %> 
  </ul>
</nav>
<hr>  
    <main class="container">
      <div>
        <h1><%= title %></h1>

        <% if(typeof displayName == "string" && displayName) { %>

          <button class="buttons-login"><a href="/individual-list/add">Add a individual</a></button>
        <% } %>
        <br>
        <table border="1" class="list-table">
          <tr>
          <% if(typeof displayName == "string" && displayName) { %>
            <th>Name: </th>
            <th>Address: </th>
            <th>Email: </th>
            <th></th>
            <th></th>
          <% } else{ %>
            <th>Name: </th>
            <th>Address: </th>
            <th>Email: </th>
          <% } %>
          </tr>
          <!--Repeatable code -->
          <% for(let count = 0; count < IndividualList.length; count++){ %>

            <tr>
             <% if(typeof displayName == "string" && displayName) { %>
                <td><%= IndividualList[count].name %></td>
                <td><%= IndividualList[count].address %></td>
                <td><%= IndividualList[count].email %></td>
                <td>
                  <button class="buttons-login"><a href="/individual-list/edit/<%= IndividualList[count].id %>">Edit</a></button>
                </td>
                <td>
                  <button class="buttons-login"><a href="/individual-list/delete/<%= IndividualList[count].id %>" class="btn-danger">Delete</a></button>
                </td>
              <% } else { %>
                <td><%= IndividualList[count].name %></td>
                <td><%= IndividualList[count].address %></td>
                <td><%= IndividualList[count].email %></td>
              <% } %>
            </tr>

          <%} %>
        </table>
      </div>
      
      
    </main>

<%- include ../partials/footer.ejs%>